<div class="main">

    <div class="container">

        <div class="navbar">

            <div class="header">
                <h3>PLANA</h3>
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            </div>

            <div class="menu">
                <p routerLink="/user-profile">Profile</p>
                <p routerLink="/event-details">Events</p>
                <p routerLink="/user-bookings">Bookings</p>
            </div>

        </div>

        <div class="search-username">

            <div class="search-events">
                <input type="text" name="" id="" placeholder="search for events">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>

            <div class="welcome-user">
                <p>WELCOME USERNAME</p>
            </div>

        </div>

        <div class="bottom">

            <div class="upcoming-events">
                <h3>UPCOMING EVENTS</h3>

                <div class="images-events">
                    <div class="image-description" routerLink="/event-details">
                        <img src="https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg?auto=compress&cs=tinysrgb&w=600" alt="images">
                        <p>Event description</p>
                    </div>

                    <div class="image-description" routerLink="/event-details">
                        <img src="https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg?auto=compress&cs=tinysrgb&w=600" alt="images">
                        <p>Event description</p>
                    </div>
                    
                </div>

            </div>

            <div class="bookings">
                <h3>BOOKINGS</h3>

                <div class="images-bookings">
                    <div class="image-description">
                        <img src="https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg?auto=compress&cs=tinysrgb&w=600" alt="images">
                        <p>Booking description</p>
                    </div>
                    <div class="image-description">
                        <img src="https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg?auto=compress&cs=tinysrgb&w=600" alt="images">
                        <p>Booking description</p>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>