<div class="main">

    <div class="container">

        <div class="navbar">

            <div class="header">
                <h3>PLANA</h3>
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            </div>

            <div class="title">
                <h3>BOOKINGS</h3>
            </div>

        </div>

        <div class="bottom">

            <div class="heading">
                <h4>CURRENT BOOKINGS</h4>
            </div>

            <div class="event-container">

                <table>

                    <tr>
                        <th>Event</th>
                        <th>Date</th>
                        <th>Ticket Type</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>

                    <tr>
                        <td>Factory Opening</td>
                        <td>19/6/2024</td>
                        <td>Single</td>
                        <td>Approved</td>
                        <td><button type="reset">Cancel</button></td>
                    </tr>

                    <tr>
                        <td>Factory Opening</td>
                        <td>19/6/2024</td>
                        <td>Single</td>
                        <td>Approved</td>
                        <td><button type="reset">Cancel</button></td>
                    </tr>

                    <tr>
                        <td>Factory Opening</td>
                        <td>19/6/2024</td>
                        <td>Single</td>
                        <td>Approved</td>
                        <td><button type="reset">Cancel</button></td>
                    </tr>

                    <tr>
                        <td>Factory Opening</td>
                        <td>19/6/2024</td>
                        <td>Single</td>
                        <td>Approved</td>
                        <td><button type="reset">Cancel</button></td>
                    </tr>

                    <tr>
                        <td>Factory Opening</td>
                        <td>19/6/2024</td>
                        <td>Single</td>
                        <td>Approved</td>
                        <td><button type="reset">Cancel</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>