*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: rgb(216, 216, 216);
}

.container .navbar{
    width: 98.6%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #36C2CE;
}

.navbar .brand{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    /* background: blue; */
}

.navbar h3, i{
    color: white;
    font-size: 25px;
}

.navbar .navbar-event{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: brown; */
}

.navbar-event h4{
    color: white;
    font-size: 20px;
}

.bottom{
    height: 90%;
    width: 100%;
    display: flex;
}

.bottom .left-side{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    /* background: indigo; */
}

.left-side .event-title{
    width: 80%;
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: gray;
    border-radius: 5px;
}

.event-title h5{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.event-title p{
    font-size: 23px;
    color: rgb(39, 39, 39);
}

.left-side .event-description{
    width: 80%;
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: gray;
    border-radius: 5px;
}

.event-description h5{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.event-description p{
    font-size: 23px;
    color: rgb(39, 39, 39);
}

.left-side .event-date{
    width: 80%;
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: gray;
    border-radius: 5px;
}

.event-date h5{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.event-date p{
    font-size: 23px;
    color: rgb(39, 39, 39);
}

.left-side .ticket-type{
    width: 80%;
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: gray;
    border-radius: 5px;
}

.ticket-type h5{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.ticket-type select{
    width: 40%;
    height: 35%;
    border-radius: 10px;
    border: none;
}

.left-side .btn{
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(165, 165, 165); */
    border-radius: 5px;
}

.btn button{
    width: 80%;
    height: 70%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: #36C2CE;
    color: white;
}

.btn button:hover{
    background: #15a4b1;
    color: black;
    cursor: pointer;
}

.bottom .right-side{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: purple; */
}

.right-side .event-image{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: blue; */
}

.event-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}