<div class="main">

    <div class="container">

        <div class="navbar">
            <div class="brand">
                <h3>PLANA</h3>
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            </div>

            <div class="navbar-event">
                <h4>EVENT DETAILS</h4>
            </div>

        </div>

        <div class="bottom">

            <div class="left-side">

                <div class="event-title">
                    <h5>Event Title</h5>
                    <p>Concert</p>
                </div>

                <div class="event-description">
                    <h5>Event Description</h5>
                    <p>Biggest concert held in the region</p>
                </div>

                <div class="event-date">
                    <h5>Event Time</h5>
                    <p>15/08/2024</p>
                </div>

                <div class="ticket-type">
                    <h5>Ticket Type</h5>
                    <select name="ticket" id="">
                        <option value="single">Single</option>
                        <option value="group">Group</option>
                    </select>
                </div>

                <div class="btn">
                    <button routerLink="/user-bookings">Book</button>
                </div>
            </div>

            <div class="right-side">
                <div class="event-image">
                    <img src="https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg?auto=compress&cs=tinysrgb&w=600" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>