<div class="container">

    <div class="navbar">
  
      <div class="logo">
        <h3>PLANA</h3>
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      </div>
  
      <div class="title">
        <h3>ADMIN DASHBOARD</h3>
      </div>
  
    </div>
  
    <div class="bottom">
  
      <div class="header-text">
        <h4>ANALYTICS</h4>
      </div>
  
      <div class="analysis">
  
        <div class="card">
          <h5>USERS</h5>
          <P>100</P>
        </div>
        <div class="card">
          <h5>EVENTS</h5>
          <P>20</P>
        </div>
  
        <div class="card">
          <h5>REVENUE</h5>
          <P>KSH 50000</P>
        </div>
        
      </div>
    </div>
  </div>
    