<div class="container">

    <div class="navbar">
  
      <div class="logo">
        <h3>PLANA</h3>
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      </div>
  
      <div class="title">
        <h3>EVENTS DASHBOARD</h3>
      </div>
  
    </div>
  
    <div class="bottom">
  
      <div class="events-text">
        <h4>Events</h4>
      </div>
  
      <table>
        <tr>
          <th>Event</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
  
        <tr>
          <td>Factory Opening</td>
          <td class="status pending">Pending</td>
          <td class="btns"><button class="update">Update</button><button class="delete">Delete</button></td>
        </tr>
  
        <tr>
          <td>Annual Meeting</td>
          <td class="status approved">Approved</td>
          <td class="btns"><button class="update">Update</button><button class="delete">Delete</button></td>
        </tr>
  
        <tr>
          <td>New Product Launch</td>
          <td class="status denied">Denied</td>
          <td class="btns"><button class="update">Update</button><button class="delete">Delete</button></td>
        </tr>
  
        <tr>
          <td>Customer Meeting</td>
          <td class="status pending">Pending</td>
          <td class="btns"><button class="update">Update</button><button class="delete">Delete</button></td>
        </tr>
  
        <tr>
          <td>Team Building Event</td>
          <td class="status denied">Denied</td>
          <td class="btns"><button class="update">Update</button><button class="delete">Delete</button></td>
        </tr>
      </table>
      
    </div>
  
  </div>